<!-- Character View -->
<button id="back">Back</button>
<div id="character">
    <h2>{{ this.character.name }}</h2>               
    <div id="gear-slots">
        <div id="gear-first-row">
            <div id="head-slot" class="gear">
                <p>Head</p>
            </div>
        </div>
        <div id="gear-second-row">
            <div id="main-slot" class="gear">
                <p>Main</p>
            </div>
            <div id="chest-slot" class="gear">
                <p>Chest</p>
            </div>
            <div id="off-slot" class="gear">
                <p>Off</p>
            </div>
        </div>
        <div id="gear-third-row">
            <div id="legs-slot" class="gear">
                <p>Legs</p>
            </div>
        </div>
    </div>
    <div id="stats">
        <h3>Stats</h3>
            HP: 100<br>
            AP: 100<br>
            MP: 100<br>
            Attack: 10<br>
            Armor: 10<br>
    </div>
</div>    