<!-- Character View -->
<button id="back">Back</button>
<div id="character">
    <h3>Character</h3>                
    <div id="gear-slots">
        <div id="gear-first-row">
            <div id="head-slot" class="gear">
                <p>Head</p>
            </div>
        </div>
        <div id="gear-second-row">
            <div id="main-slot" class="gear">
                <p>Main</p>
            </div>
            <div id="chest-slot" class="gear">
                <p>Chest</p>
            </div>
            <div id="off-slot" class="gear">
                <p>Off</p>
            </div>
        </div>
        <div id="gear-third-row">
            <div id="legs-slot" class="gear">
                <p>Legs</p>
            </div>
        </div>
    </div>
</div>    