<!-- New Game View -->

<div id="newgame">
    <h2>Welcome Adventurer</h2>
    <p>
        Welcome to the Dungeon Runner Inn, where adventurers from far away come to see what they are made of and how much gold will fill their pockets.....
        <i>*whispers* but to be honest most will only fill their pockets with blood...*clears throat*</i>
        You on the other hand look as though you may do just fine... <i>*sly smile*</i>
        Please sign in to our inn log book and head on up to your room. Get rested and in the morning we shall depart for the dungeons.
    </p>
    <label for="name">Sign Inn log</label>
    <input id="character-name-input" type="text" placeholder="Character's name...">
    <button id="character-name-submit">Sign</button>
</div>