<h4>Dungeon Encounter</h4>
<div id="entities-card">
    <div id="character-card">
        <ul id="character-stats">
            <li>{{ this.character.name}}</li>
            <li>{{ this.character.HP}}</li>
            <li>{{ this.character.AP}}</li>
            <li>{{ this.character.MP}}</li>
        </ul>
    </div>
    <div id="enemy-card">
        <ul id="enemy-stats">
            <li>{{ this.enemy.name}}</li>
            <li>{{ this.enemy.HP}}</li>
            <li>{{ this.enemy.AP}}</li>
            <li>{{ this.enemy.MP}}</li>       
        </ul>
    </div>
</div>
<button id="fight">Fight Battle</button>