<h4>Dungeon Encounter</h4>
<div id="entities-card">
    <div id="character-card">
        <ul id="character-stats">
            <li>{{ this.character.name}}</li>
            <li>HP: {{ this.character.HP}}</li>
            <li>AP:{{ this.character.AP}}</li>
            <li>MP:{{ this.character.MP}}</li>
        </ul>
    </div>
    <div id="enemy-card">
        <ul id="enemy-stats">
            <li>{{ this.enemy.name}}</li>
            <li>HP:{{ this.enemy.HP}}</li>
            <li>AP:{{ this.enemy.AP}}</li>
            <li>MP:{{ this.enemy.MP}}</li>       
        </ul>
    </div>
</div>

<div id="encounter-menu-view"></div>