/* Dungeon View */

#dungeon-view #dv-header {
    display: flex;
    justify-content: center;
}

/* Rendered Dungeon View */
#rendered-dungeon {
    display: flex;
    justify-content: center;
    flex-direction: column;
}