/* Header */
header {
    display: flex;
    justify-content: center;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
}

/* Views */

/* HOME */
#inn {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NEWGAME */
#newgame {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DUNGEON */
#dungeon {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#dungeon-entrance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


/* CHARACTER */
#character {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gear-slots {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 50px;
}

#gear-first-row {
    display: flex;
    justify-content: space-around;
}

#gear-second-row {
    display: flex;
    justify-content: space-around;
}

#gear-third-row {
    display: flex;
    justify-content: space-around;    
}

.gear {
    text-align:  center;
    width: 70px;
    height: 70px;
    margin: 5px;
    border: 1px solid black;
    background-color: lightgray; 
}

#stats {
    width: 270px;
    height: 170px;
    padding: 10px 30px;
    border: 1px solid black;    
    text-align: center;
    background-color: lightgray;
}

/* SHOP */
#shop {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* INVENTORY */
#inventory {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}