/* Header */
header {
    display: flex;
    justify-content: center;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
}

/* Views */

/* HOME */
#inn {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NEWGAME */
#newgame {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DUNGEON */
#dungeon {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* CHARACTER */
#character {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* SHOP */
#shop {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* INVENTORY */
#inventory {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}