<!-- Dungeon View -->
<div id="dungeon">

    <!-- Dungeon Header -->
    <div id="dungeon-header">
        <h3>Dungeon</h3> 
    </div>

    <!-- Entrance -->
    <div id="entrance-view">
        <button id="run-dungeon-btn">Run Dungeon</button>
    </div>

    <!-- Entered -->
    <div id="entered-view">
        <div id="entity-cards">
            <div id="player-card"></div>
            <div id="enemy-card"></div>
        </div>
        <div id="action-btns">
            <button id="attack-btn">Attack</button>
            <button id="defense-btn">Defense</button>
            <button id="magic-btn">Magic</button>
            <button id="item-btn">Item</button>
            <button id="flee-btn">Flee</button>
        </div>
    </div>

    <!-- Action Button Menus -->
    <div id="action-menu">
        <!-- Attack Menu -->
        <div id="attack-menu">
            <button id="basic-attack-btn">Basic Attack</button>
            <button id="wild-attack-btn">Wild Attack</button>
            <button id="heavy-attack-btn">Heavy Attack</button>
        </div>
        <!-- Defense Menu -->
        <div id="defense-menu">
                <button id="dodge-defense-btn">Dodge</button>
                <button id="distract-defense-btn">Distract</button>
                <button id="block-defense-btn">Block</button>
            </div>
            <!-- Magic Menu -->
            <div id="magic-menu">
                <button id="fire-attack-btn">Fireball</button>
                <button id="ice-attack-btn">Ice Spike</button>
                <button id="lightning-attack-btn">Spark</button>
            </div>
            <!-- Item Menu -->
            <div id="item-menu">
                <button id="use-item-btn">Use Item</button>
            </div>
            <!-- Flee Menu -->
            <div id="flee-menu">
                <button id="flee-btn">Attempt to Flee</button>
            </div>
        </div>


    <!-- Exit -->
    <div id="exit-view">
        <h3>Dungeon Breakdown</h3>
        <ul id="dungeon-breakdown">
            <li>Player: Survived</li>
            <li>Enemy: Defeated</li>
            <li>Loot dropped: Wooden Sword</li>
            <li>Gold Dropped: 100gp</li>
            <li>Experience: 20xp</li>
        </ul>
    </div>
</div>       